@use "../1-Utils/variables" as v;
@use "../1-Utils/mixins" as m;

.littleCollapseContainer {
    width: 1240px;
    margin: 24px auto 122px auto;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: v.$bodyScale) {
        width: 90%;
        margin-top: 0;
        margin-bottom: 100px;
    }
    @media all and (max-width: v.$tablet) {
        flex-direction: column;
        margin-bottom: 165px;
    }
    @media all and (max-width: v.$mobileL) {
        margin-top: -5px;
        margin-bottom: 235px;
    }
    &__details[open] .littleCollapseContainer__details__summary__img {
        transform: rotate(180deg);
    }
    &__details {
        cursor: default;
        @media all and (max-width: v.$bodyScale) {
            margin: 24px 0 0 0;
            width: 45%;
        }
        @media all and (max-width: v.$tablet) {
            margin-top: 20px;
            font-size: 21px;
            width: 100%;
        }
        @media all and (max-width: v.$mobileL) {
            font-size: 13px;
        }
        &__summary {
            margin: auto;
            position: relative;
            cursor: pointer;
            display: flex;
            user-select: none;
            list-style: none;
            justify-content: space-between;
            background-color: #ff6060;
            color: v.$color-white;
            font-size: 18px;
            width: 582px;
            height: 52px;
            border-radius: 10px;
            @media all and (max-width: v.$bodyScale) {
                width: 100%;
            }
            @media all and (max-width: v.$tablet) {
                border-radius: 5px;
                font-size: 21px;
                height: 30px;
            }
            @media all and (max-width: v.$mobileL) {
                font-size: 13px;
            }
            &__p {
                margin: auto auto auto 20px;
            }
            &__img {
                size: 20px;
                margin: auto 12px auto auto;
                @media all and (max-width: v.$bodyScale) {
                    margin-right: 20px;
                }
                @media all and (max-width: v.$tablet) {
                    margin-right: 15px;
                }
                @media all and (max-width: v.$mobileL) {
                    margin: 10px 10px 10px auto;
                }
            }
        }
        &__p {
            @include m.littleCollapseContent;
            font-weight: 400;
            color: v.$color-primary;
            @media all and (max-width: v.$bodyScale) {
                font-size: 20px;
                width: 100%;
            }
            @media all and (max-width: v.$tablet) {
                @include m.littleCollapseContent-tablet;
            }
            @media all and (max-width: v.$mobileL) {
                font-size: 12px;
            }
        }
        &__ul {
            @include m.littleCollapseContent;
            @media all and (max-width: v.$bodyScale) {
                width: 100%;
            }
            @media all and (max-width: v.$tablet) {
                @include m.littleCollapseContent-tablet;
            }
            @media all and (max-width: v.$mobileL) {
                font-size: 12px;
            }
            &__li {
                font-weight: 400;
                margin-bottom: 3px;
                color: v.$color-primary;
            }
        }
    }
}
