@use "../1-Utils/variables" as v;

.homeBannerContainer {
    width: 1240px;
    margin: 63px auto 0 auto;
    height: 223px;
    position: relative;
    background: v.$color-black;
    border-radius: 25px;
    @media all and (max-width: v.$bodyScale) {
        width: 90%;
        margin-top: 17px;
    }
    @media all and (max-width: v.$tablet) {
        border-radius: 15px;
        height: 166px;
    }
    @media all and (max-width: v.$mobileL) {
        border-radius: 10px;
        margin-top: 15px;
        height: 111px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        opacity: 0.7;
        @media all and (max-width: v.$bodyScale) {
        }
        @media all and (max-width: v.$tablet) {
            border-radius: 15px;
            height: 166px;
        }
        @media all and (max-width: v.$mobileL) {
            border-radius: 10px;
            height: 111px;
        }
    }
    &__h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: 48px;
        color: v.$color-white;
        @media all and (max-width: v.$bodyScale) {
        }
        @media all and (max-width: v.$tablet) {
            font-size: 30px;
        }
        @media all and (max-width: v.$mobileL) {
            font-size: 24px;
            width: 217px;
            left: 5%;
            top: 50%;
            text-align: left;
            transform: translate(0%, -50%);
        }
    }
}
