// Colors
$color-primary: #ff6060;
$color-black: #000;
$color-white: #ffff;
$color-grey: #f6f6f6;

// Media Queries
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 560px;

$bodyScale: 1300px;
