@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid black 1px; */
}
body {
    /* width: 75%; */
    width: 1240px;
    margin: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* ----------------------------------------------------- */
/* -------------------Espace de travail------------------*/
/* ----------------------------------------------------- */
/* 
.errorSection {
}

.errorContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 156px;
}

.errorH1 {
    margin-top: 126px;
    font-size: 288px;
    font-weight: 700;
    color: #ff6060;
}

.errorH2 {
    margin-top: 25px;
    font-size: 36px;
    color: #ff6060;
}

.errorAnchor {
    margin-top: 185px;
    text-decoration: underline;
    font-size: 18px;
    color: #ff6060;
} */

/* .active {
    color: black !important;
} */

#iop {
    color: blueviolet;
}
