@use "../1-utils/variables" as v;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    &__logo {
        width: 210px;
        height: 68px;
        margin-left: 2px;
    }
    &__nav {
        &__ul {
            display: flex;
            &__li {
                margin-left: 57px;
                &__a {
                    color: v.$color-primary;
                    font-size: 24px;
                }
            }
        }
    }
}
